html {
    font-family: Arial, Helvetica, sans-serif;    
}

.menu {
    background-color: #2980b9;
    color: white;
    padding: 45px;
    justify-items: center;
    display: flex;
    justify-content: center;
    margin: 0%;
    
    
}

.btn1 {
    display: flex;
    margin: 25px;
    padding: 25px;
    background-color: #3498db;
    border-radius: 10px;
}

.btn2 {
    display: flex;
    margin: 25px; 
    padding: 25px;
    border-radius: 10px;
    background-color: #3498db;
}

.btn3 {
    display: flex;
    padding: 25px;
    border-radius: 10px;
    background-color: #3498db;
    margin: 25px; 
}
.tab1 {
    margin-bottom: 250px;
}
.image {
    border-radius: 55px;
    background-image: url(https://miro.medium.com/v2/resize:fit:828/format:webp/0*XFKvzn30CglSpb3o);
}

.tab2 {
    margin-bottom: 250px;
}
thead {
    background-color: aquamarine; 
    margin: 15px;
}

.tab3 {
    background-color: #f4f4f4;
    box-shadow:  0 4px 8px 5px rgba(0, 0, 0, 0.24);
    margin: 15px;
    margin-bottom: 55px;
    padding: 25px;
}

input {
    border-radius: 5px;
    display: flex;
}

.submit {
    background-color: #2980b9;
    color: white;
    padding: 7px;
}